
body{
	background-image: url("img/g.jpg");
	background-size: cover;
	background-position: center;
	
	font-family: sans-serif;
}
.news{ 
	position: absolute;
	margin: 9% -15%;
   color: red;
}


.news-2{ 
	position: absolute;
	margin: 44% -15%;
   color: red;
}
.footer{
	background: #303036;
	color: #fff;
	height: 450px; 
	width: 1512px;
	position: absolute;
	margin: 80% -28% auto;
	
}
.footer .footer-bottom{
position: relative;
margin: 10% 40%;
bottom: 0px;
left:0px;
text-align: center;

}
.footer .footer-content{

	
    height: 350px;
    display: flex;
}
.footer .footer-content .footer-section{
	flex: 1;
	padding: 25px;
	border:1px solid #fff;
}
.footer .footer-section .footer-content .footer-section-about{
	margin: 1% 5%;

}
.footer .footer-section .footer-content .footer-section-contact{
	margin: 1% 10%;
}
.footer-bottem{
	margin: 28% -58% auto;
	position: center;
}
.footer .footer-section .footer-content .footer-section-link{
	margin: 1% 8%;
}
.menu-bar{
	   background-color: #33bbff;
	text-align: center;
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: white;

}
.menu-bar ul li{
width: 120px;
margin: 15px;
padding: 15px;

}
.menu-bar ul li a{
	text-decoration: none;
	color: white;
}
.active, .menu-bar ul li:hover{
	background: green;
	border-radius: 3px;
}
.sub-menu-1{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	background:green;
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
	display: block;
	margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
width: 150px;
padding: 10px;
border-bottom: 1px dotted #fff;
background: transparent;
border-radius: 0px;
text-align: left;
}
.sub-menu-2{
	display: none;
}
.menu-bar ul li:hover .sub-menu-2{
	display: block;
	position: absolute;
	background:green;
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-2 ul{
	display: block;
	margin:10px;
}
.menu-bar ul li:hover .sub-menu-2 ul li{
width: 150px;
padding: 10px;
border-bottom: 1px dotted #fff;
background: transparent;
border-radius: 0px;
text-align: left;
}


.contact{
	margin:110% -70% auto;
	position: absolute;
}
.card{
	width: 350px;
	height: 350px;
	background: black;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	margin: 25% 40% auto;
   position: absolute; 
	border-radius: 10px;
	overflow: hidden;
}
.card span{
	height: 100%;
	left: 0;
	background: url(" img/girls.jpg");
	position: absolute;
	transition: 1s;
}
.card span:nth-child(1){
	z-index: 10;
	width: 25%;
	transition-delay: 0s;
}
.card span:nth-child(2){
	z-index: 9;
	width: 50%;
	transition-delay: 0.1s;
}.card span:nth-child(3){
	z-index: 8;
	width: 70%;
	transition-delay: 0.3s;
}.card span:nth-child(4){
	z-index: 7;
	width: 100%;
	transition-delay: 0.5s;
}
.card:hover span{
	transform: translateY(-100%);
	transition: 1s; 
}
.card:hover span:nth-child(1){
	transition-delay: 0.3s;
}
.card:hover span:nth-child(2){
	transition-delay: 0.2s;
}
.card:hover span:nth-child(3){
	transition-delay: 0.1s;
}
.card:hover span:nth-child(4){
	transition-delay: 0s;
}
.content{
	color: white;
	text-align: center;
	padding: 80px 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transform: translateY(100%);
	transition: 2s;
}
.content a {
	width: 100px;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid white;
	display: block;
	margin: auto;
	padding: 10px;
	color: white;
}
.card:hover .content{
	transform: translateY(0%);
}
.card-2{
	width: 350px;
	height: 350px;
	background: black;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	margin: 15% 12% auto;
   position: absolute; 
	border-radius: 10px;
	overflow: hidden;
}
.card-2 span{
	height: 100%;
	left: 0;
	background: url("img/acchive.jpg") no-repeat;
	position: absolute;
	transition: 1s;
	}
.card-2 span:nth-child(1){
	z-index: 10;
	width: 25%;
	transition-delay: 0s;
}
.card-2 span:nth-child(2){
	z-index: 9;
	width: 50%;
	transition-delay: 0.1s;
}.card-2 span:nth-child(3){
	z-index: 8;
	width: 70%;
	transition-delay: 0.3s;
}.card-2 span:nth-child(4){
	z-index: 7;
	width: 100%;
	transition-delay: 0.5s;
}
.card-2:hover span{
	transform: translateY(-100%);
	transition: 1s; 
}
.card-2:hover span:nth-child(1){
	transition-delay: 0.3s;
}
.card-2:hover span:nth-child(2){
	transition-delay: 0.2s;
}
.card-2:hover span:nth-child(3){
	transition-delay: 0.1s;
}
.card-2:hover span:nth-child(4){
	transition-delay: 0s;
}


.content-2{
	color: white;
	text-align: center;
	padding: 80px 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transform: translateY(100%);
	transition: 2s;
}
.content-2 a {
	width: 100px;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid white;
	display: block;
	margin: auto;
	padding: 10px;
	color: white;
}
.card-2:hover .content-2{
	transform: translateY(0%);
}
.card-3{
	width: 350px;
	height: 350px;
	background: black;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	margin: 15% 44% auto;
   position: absolute; 
	border-radius: 10px;
	overflow: hidden;
}
.card-3 span{
	height: 100%;
	left: 0;
	background: url("img/c.jpg");
	position: absolute;
	transition: 1s;
}
.card-3 span:nth-child(1){
	z-index: 10;
	width: 25%;
	transition-delay: 0s;
}
.card-3 span:nth-child(2){
	z-index: 9;
	width: 50%;
	transition-delay: 0.1s;
}
.card-3 span:nth-child(3){
	z-index: 8;
	width: 70%;
	transition-delay: 0.3s;
}
.card-3 span:nth-child(4){
	z-index: 7;
	width: 100%;
	transition-delay: 0.5s;
}
.card-3:hover span{
	transform: translateY(-100%);
	transition: 1s; 
}
.card-3:hover span:nth-child(1){
	transition-delay: 0.3s;
}
.card-3:hover span:nth-child(2){
	transition-delay: 0.2s;
}
.card-3:hover span:nth-child(3){
	transition-delay: 0.1s;
}
.card-3:hover span:nth-child(4){
	transition-delay: 0s;
}
.content-3{
	color: white;
	text-align: center;
	padding: 80px 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transform: translateY(100%);
	transition: 2s;
}
.content-3 a {
	width: 100px;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid white;
	display: block;
	margin: auto;
	padding: 10px;
	color: white;
}
.card-3:hover .content-3{
	transform: translateY(0%);
}
.carde{
	width: 350px;
	height: 350px;
	background: black;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	margin: 50% -20%  auto;
   position: absolute; 
	border-radius: 10px;
	overflow: hidden;
}
.carde span{
	height: 100%;
	left: 0;
	background: url("img/c.jpg") no-repeat;
	position: absolute;
	transition: 1s;
}
.carde span:nth-child(1){
	z-index: 10;
	width: 25%;
	transition-delay: 0s;
}
.carde span:nth-child(2){
	z-index: 9;
	width: 50%;
	transition-delay: 0.1s;
}
.carde span:nth-child(3){
	z-index: 8;
	width: 70%;
	transition-delay: 0.3s;
}
.carde span:nth-child(4){
	z-index: 7;
	width: 100%;
	transition-delay: 0.5s;
}
.carde:hover span{
	transform: translateY(-100%);
	transition: 1s; 
}
.carde:hover span:nth-child(1){
	transition-delay: 0.3s;
}
.carde:hover span:nth-child(2){
	transition-delay: 0.2s;
}
.carde:hover span:nth-child(3){
	transition-delay: 0.1s;
}
.carde:hover span:nth-child(4){
	transition-delay: 0s;
}
.content-4{
	color: white;
	text-align: center;
	padding: 80px 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transform: translateY(100%);
	transition: 2s;
}
.content-4 a {
	width: 100px;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid white;
	display: block;
	margin: auto;
	padding: 10px;
	color: white;
}
.carde:hover .content-4{
	transform: translateY(0%);
}




.carde-5 {
	width: 350px;
	height: 350px;
	background: black;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	margin: 50% 12%  auto;
   position: absolute; 
	border-radius: 10px;
	overflow: hidden;
}
.carde-5 span{
	height: 100%;
	left: 0;
	background: url("img/c.jpg") no-repeat;
	position: absolute;
	transition: 1s;
}
.carde-5 span:nth-child(1){
	z-index: 10;
	width: 25%;
	transition-delay: 0s;
}
.carde-5 span:nth-child(2){
	z-index: 9;
	width: 50%;
	transition-delay: 0.1s;
}
.carde-5 span:nth-child(3){
	z-index: 8;
	width: 70%;
	transition-delay: 0.3s;
}
.carde-5 span:nth-child(4){
	z-index: 7;
	width: 100%;
	transition-delay: 0.5s;
}
.carde-5:hover span{
	transform: translateY(-100%);
	transition: 1s; 
}
.carde-5:hover span:nth-child(1){
	transition-delay: 0.3s;
}
.carde-5:hover span:nth-child(2){
	transition-delay: 0.2s;
}
.carde-5:hover span:nth-child(3){
	transition-delay: 0.1s;
}
.carde-5:hover span:nth-child(4){
	transition-delay: 0s;
}
.content-5{
	color: white;
	text-align: center;
	padding: 80px 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transform: translateY(100%);
	transition: 2s;
}
.content-5 a {
	width: 100px;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid white;
	display: block;
	margin: auto;
	padding: 10px;
	color: white;
}
.carde-5:hover .content-5{
	transform: translateY(0%);
}






.carde-6 {
	width: 350px;
	height: 350px;
	background: black;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	margin: 50% 70%  auto;
   position: absolute; 
	border-radius: 10px;
	overflow: hidden;
}
.carde-6 span{
	height: 100%;
	left: 0;
	background: url("img/lab.jpg") no-repeat;
	position: absolute;
	transition: 1s;
}
.carde-6 span:nth-child(1){
	z-index: 10;
	width: 25%;
	transition-delay: 0s;
}
.carde-6 span:nth-child(2){
	z-index: 9;
	width: 50%;
	transition-delay: 0.1s;
}
.carde-6 span:nth-child(3){
	z-index: 8;
	width: 70%;
	transition-delay: 0.3s;
}
.carde-6 span:nth-child(4){
	z-index: 7;
	width: 100%;
	transition-delay: 0.5s;
}
.carde-6:hover span{
	transform: translateY(-100%);
	transition: 1s; 
}
.carde-6:hover span:nth-child(1){
	transition-delay: 0.3s;
}
.carde-6:hover span:nth-child(2){
	transition-delay: 0.2s;
}
.carde-6:hover span:nth-child(3){
	transition-delay: 0.1s;
}
.carde-6:hover span:nth-child(4){
	transition-delay: 0s;
}
.content-6{
	color: white;
	text-align: center;
	padding: 80px 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transform: translateY(100%);
	transition: 2s;
}
.content-6 a {
	width: 100px;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid white;
	display: block;
	margin: auto;
	padding: 10px;
	color: white;
}
.carde-6:hover .content-6{
	transform: translateY(0%);
}